<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Ký Quỹ
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a href="#" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <!-- <li class="m-nav__item">
          <a href="" class="m-nav__link">
            <span class="m-nav__link-text">
              Dashboard
            </span>
          </a>
        </li> -->
      </ul>
    </div>
    <div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover"
        aria-expanded="true">
        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
  <!--end::Portlet-->
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Danh sách vé.
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body" *ngIf="list.length">
      <!--begin: Datatable -->
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped- table-bordered table-hover">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Mã khách hàng
            </th>
            <th>
              Mã đã chỗ
            </th>
            <th>
              Mã xuất vé
            </th>
            <th>
              Số tiền
            </th>
            <th>
              Trạng thái
            </th>
            <th>
              Ngày tạo
            </th>
            <th>
              Hành động
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list; let i=index">
            <td>
              {{i + 1}}
            </td>
            <td class="text-uppercase">
              KH{{item.clientId | slice: 18: 24}}
            </td>
            <td>
              {{item.maDatCho}}
            </td>
            <td>
              {{item.maXuatVe ? item.maXuatVe : ''}}
            </td>
            <td>
              {{item.soTien | number: '3.0-3'}} VNĐ
            </td>
            <td [ngSwitch]="item.tinhTrangVe">
              <span *ngSwitchCase="'Đang xử lý'" class="m-badge m-badge--warning m-badge--wide">{{item.tinhTrangVe}}</span>
              <span *ngSwitchCase="'Duyệt'" class="m-badge m-badge--success m-badge--wide">{{item.tinhTrangVe}}</span>
              <span *ngSwitchCase="'Từ chối'" class="m-badge m-badge--danger m-badge--wide">{{item.tinhTrangVe}}</span>
              <span *ngSwitchDefault class="m-badge m-badge--metal m-badge--wide">{{item.tinhTrangVe}}</span>
            </td>
            <td>
              {{item.createdAt | date: 'yyyy-MM-dd hh:mm'}}
            </td>
            <td>
              <a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" data-target="#m_modal_1"
                (click)="onShowModal(item._id)">
                <i class="fa flaticon-web"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #elseBlock>
      <div class="m-portlet__body">
        Loading ...!
      </div>
    </ng-template>
  </div>

  <div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <ng-container *ngIf="currentItem; else elseTemplate">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Chi tiết vé - KH{{currentItem.clientId | slice: 18: 24}}
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group m-form__group row">
              <div class="col-lg-5">
                <div class="m-input-icon m-input-icon--right">
                  <input type="text" placeholder="Mã xuất vé" class="form-control m-input" [(ngModel)]="currentItem.maXuatVe" name="maXuatVe">
                </div>
              </div>
            </div>
            <div class=" d-flex flex-column" id="ticket-content">
              <div>
                <span>
                  <strong>Số tiền</strong>: </span>
                <span class="pull-right">{{currentItem.soTien | currency:'VND':true}}</span>
              </div>
              <!-- <div>
                <span>
                  <strong>Mã xuất vé</strong>: </span>
                <span class="pull-right"> {{currentItem.maXuatVe ? 'TICKET_' + item.maXuatVe : ''}}</span>
              </div> -->
              <div>
                <span>
                  <strong>Tình trạng vé</strong>: </span>
                <span class="pull-right">{{currentItem.tinhTrangVe}} </span>
              </div>
              <div>
                <span>
                  <strong>Sân bay đi </strong> (chiều đi): </span>
                <span class="pull-right">{{currentItem.sanBayDi_chieuDi}} </span>
              </div>
              <div>
                <span>
                  <strong>Sân bay đến</strong> (chiều đi): </span>
                <span class="pull-right">{{currentItem.sanBayDen_chieuDi}} </span>
              </div>
              <div *ngIf="currentItem.sanBayDi_chieuVe">
                <span>
                  <strong>Sân bay đi </strong> (chiều về): </span>
                <span class="pull-right">{{currentItem.sanBayDi_chieuVe}} </span>
              </div>
              <div *ngIf="currentItem.sanBayDen_chieuVe">
                <span>
                  <strong>Sân bay đến</strong> (chiều về): </span>
                <span class="pull-right">{{currentItem.sanBayDen_chieuVe}} </span>
              </div>
              <div>
                <span>
                  <strong>Ngày giờ bay</strong> (chiều đi): </span>
                <span class="pull-right">{{currentItem.ngayGioBay_chieuDi}} </span>
              </div>
              <div>
                <span>
                  <strong>Ngày giờ đến</strong> (chiều đi): </span>
                <span class="pull-right">{{currentItem.ngayGioDen_chieuDi}} </span>
              </div>
              <div *ngIf="currentItem.ngayGioBay_chieuVe">
                <span>
                  <strong>Ngày giờ bay</strong> (chiều về): </span>
                <span class="pull-right">{{currentItem.ngayGioBay_chieuVe}} </span>
              </div>
              <div *ngIf="currentItem.ngayGioDen_chieuVe">
                <span>
                  <strong>Ngày giờ đến</strong> (chiều về): </span>
                <span class="pull-right">{{currentItem.ngayGioDen_chieuVe}} </span>
              </div>
              <div>
                <span>
                  <strong>Ngày tạo</strong>: </span>
                <span class="pull-right">{{currentItem.createdAt | date: 'yyyy-MM-dd hh:mm'}} </span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">
              Đóng
            </button>
            <button [disabled]="!currentItem.maXuatVe" type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="currentItem.tinhTrangVe=='Đang xử lý'"
              (click)="onApprove()">
              Duyệt
            </button>
            <button [disabled]="!currentItem.maXuatVe" type="button" class="btn btn-danger" data-dismiss="modal" *ngIf="currentItem.tinhTrangVe=='Đang xử lý'"
              (click)="onReject()">
              Từ chối
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        elseTemplate
      </ng-template>
    </div>
  </div>

</div>