<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Khách hàng
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a href="#" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <!-- <li class="m-nav__item">
          <a href="" class="m-nav__link">
            <span class="m-nav__link-text">
              Dashboard
            </span>
          </a>
        </li> -->
      </ul>
    </div>
    <div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover"
        aria-expanded="true">
        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section--first m--hide">
                    <span class="m-nav__section-text">
                      Quick Actions
                    </span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text">
                        Activity
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-chat-1"></i>
                      <span class="m-nav__link-text">
                        Messages
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-info"></i>
                      <span class="m-nav__link-text">
                        FAQ
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                      <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                      <span class="m-nav__link-text">
                        Support
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__separator m-nav__separator--fit"></li>
                  <li class="m-nav__item">
                    <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                      Submit
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
  <!--begin::Portlet-->
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Thêm mới khách hàng.
          </h3>
        </div>
      </div>
    </div>
    <!--begin::Form-->
    <form #crudForm="ngForm" (ngSubmit)="onSubmit(crudForm)" class="m-form m-form--fit m-form--label-align-right" id="m_form_1">
      <div class="m-portlet__body">
        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              Kiểm tra lại dữ liệu.
            </div>
            <div class="m-alert__close">
              <button type="button" class="close" data-close="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row" *ngIf="currentItem._id">
          <label class="col-form-label col-lg-3 col-sm-12">
            Uniqued _id
          </label>
          <div class="col-lg-4 col-md-9 col-sm-12">
            <div class="m-input-icon m-input-icon--right">
              <input type="text" autocomplete="off" class="form-control m-input" [(ngModel)]="currentItem._id" name="_id" readonly>
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-check"></i>
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <div class="col-lg-5">
            <label>
              Họ tên *
            </label>
            <div class="m-input-icon m-input-icon--right">
              <input type="text" autocomplete="off" class="form-control m-input" [(ngModel)]="currentItem.fullName" name="fullName" required placeholder="Nhập họ tên">
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-edit"></i>
                </span>
              </span>
            </div>
          </div>
          <div class="col-lg-5">
            <label>
              Số ĐT *
            </label>
            <div class="m-input-icon m-input-icon--right">
              <input type="number" class="form-control m-input" name="phoneNumber" [(ngModel)]="currentItem.phoneNumber" required placeholder="Nhập số điện thoại">
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-edit"></i>
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <div class="col-lg-5">
            <label>
              CMND *
            </label>
            <div class="m-input-icon m-input-icon--right">
              <input type="number" class="form-control m-input" [(ngModel)]="currentItem.identification" name="identification" required
                placeholder="Nhập số CMND">
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-edit"></i>
                </span>
              </span>
            </div>
          </div>
          <div class="col-lg-5">
            <label>
              Nơi sinh
            </label>
            <div class="m-input-icon m-input-icon--right">
              <input type="text" autocomplete="off" class="form-control m-input" name="birthPlace" [(ngModel)]="currentItem.birthPlace" required placeholder="Nhập nơi sinh">
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-edit"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <div class="col-lg-5">
            <label>
              Tỉnh thành *
            </label>
            <div class="m-input-icon m-input-icon--right">
              <select class="form-control m-select2" id="m_select2_4_1" name="region">
                <option></option>
              </select>
            </div>
          </div>
          <div class="col-lg-5">
            <label>
              Quốc gia *
            </label>
            <div class="m-input-icon m-input-icon--right">
              <input type="text" autocomplete="off" class="form-control m-input" name="country" [(ngModel)]="currentItem.country" required placeholder="Nhập quốc gia">
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-edit"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <div class="col-lg-5">
            <label>
              Giới tính.
            </label>
            <div class="m-radio-inline">
              <label class="m-radio m-radio--bold m-radio--state-success">
                <input type="radio" name="example_3" checked (change)="onSelectionChange(false)"> Nam
                <span></span>
              </label>
              <label class="m-radio m-radio--bold m-radio--state-brand">
                <input type="radio" name="example_3" (change)="onSelectionChange(true)"> Nữ
                <span></span>
              </label>
            </div>
          </div>
          <div class="col-lg-5">
            <label>
              Địa chỉ *
            </label>
            <div class="input-group m-input-group">
              <textarea class="form-control m-input" name="address" [(ngModel)]="currentItem.address" placeholder="Nhập địa chỉ"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions">
          <div class="row">
            <div class="col-lg-9 ml-lg-auto">
              <button type="submit" class="btn m-btn--pill m-btn--air btn-info mr-2">
                Xác nhận
              </button>
              <button type="reset" class="btn m-btn--pill m-btn--air btn-danger">
                Hủy
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--end::Form-->
  </div>
  <!--end::Portlet-->
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Danh sách khách hàng.
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <!--begin: Datatable -->
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped- table-bordered table-hover table-checkable">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Mã khách hàng
            </th>
            <th>
              Họ tên
            </th>
            <th>
              Số điện thoaị
            </th>
            <th>
              Tỉnh thành
            </th>

            <th>
              CMND
            </th>
            <th>
              Nơi sinh
            </th>
            <th>
              Địa chỉ
            </th>

            <th>
              Ngày tạo
            </th>
            <th>
              Hành động
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list; let i=index">
            <td>
              {{i + 1}}
            </td>
            <td class="text-uppercase">
              KH{{item._id | slice: 18: 24}}
            </td>
            <td>
              {{item.fullName}}
            </td>
            <td>
              {{item.phoneNumber}}
            </td>
            <td>
              {{item.region}}
            </td>
            <td>
              {{item.identification}}
            </td>
            <td>
              {{item.birthPlace}}
            </td>
            <td>
              {{item.address}}
            </td>
            <td>
              {{item.createdAt | date: 'yyyy-MM-dd hh:mm'}}
            </td>
            <td>
              <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="click"
                aria-expanded="true">
                <a href="#" class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link">
                  <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav">
                          <li class="m-nav__section m-nav__section--first">
                            <!-- <span class="m-nav__section-text">
                              Quick Actions
                            </span> -->
                          </li>
                          <li class="m-nav__item" (click)="onEdit(item._id)">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-cogwheel"></i>
                              <span class="m-nav__link-text">
                                Sửa
                              </span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-cogwheel"></i>
                              <span class="m-nav__link-text">
                                Sao chép
                              </span>
                            </a>
                          </li>
                          <li class="m-nav__item" (click)="onDelete(item._id)">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-cogwheel"></i>
                              <span class="m-nav__link-text m--font-danger">
                                Xóa
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>