<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Vị trí
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a href="#" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
  <!--begin::Portlet-->
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Thêm mới vị trí.
          </h3>
        </div>
      </div>
    </div>
    <!--begin::Form-->
    <form #crudForm="ngForm" (ngSubmit)="onSubmit(crudForm)" class="m-form m-form--fit m-form--label-align-right" id="m_form_1">
      <div class="m-portlet__body">
        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              Kiểm tra lại dữ liệu.
            </div>
            <div class="m-alert__close">
              <button type="button" class="close" data-close="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row" *ngIf="currentItem._id">
          <label class="col-form-label col-lg-3 col-sm-12">
            Uniqued ID
          </label>
          <div class="col-lg-4 col-md-9 col-sm-12">
            <div class="m-input-icon m-input-icon--right">
              <input type="text" class="form-control m-input" [(ngModel)]="currentItem._id" name="_id" readonly>
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-edit"></i>
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <label class="col-form-label col-lg-3 col-sm-12">
            Mã vị trí *
          </label>
          <div class="col-lg-4 col-md-9 col-sm-12">
            <div class="m-input-icon m-input-icon--right">
              <input type="text" class="form-control m-input" name="codeDivision" [ngModel]="currentItem.codeDivision" required placeholder="Nhập mã vị trí">
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-edit"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label class="col-form-label col-lg-3 col-sm-12">
            Tên vị trí *
          </label>
          <div class="col-lg-4 col-md-9 col-sm-12">
            <div class="m-input-icon m-input-icon--right">
              <input type="text" class="form-control m-input" name="titleDivision" [ngModel]="currentItem.titleDivision" required placeholder="Nhập tên vị trí">
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span>
                  <i class="la la-edit"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions">
          <div class="row">
            <div class="col-lg-9 ml-lg-auto">
              <button type="submit" class="btn m-btn--pill m-btn--air btn-info mr-2">
                Xác nhận
              </button>
              <button type="reset" class="btn m-btn--pill m-btn--air btn-danger">
                Hủy
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--end::Form-->
  </div>
  <!--end::Portlet-->
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Danh sách vị trí.
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <table class="table m-table m-table--head-separator-danger">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Mã vị trí
            </th>
            <th>
              Tên vị trí
            </th>
            <th>
              Hành động
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list; let i = index">
            <th scope="row">
              {{i}}
            </th>
            <td>
              {{item.codeDivision}}
            </td>
            <td>
              {{item.titleDivision}}
            </td>
            <td>
              <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="click"
                aria-expanded="true">
                <a href="#" class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link">
                  <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav">
                          <li class="m-nav__item" (click)="onEdit(item._id)">
                            <a href="" class="m-nav__link" data-toggle="modal" data-target="#m_modal_1">
                              <i class="m-nav__link-icon flaticon-cogwheel"></i>
                              <span class="m-nav__link-text">
                                Sửa
                              </span>
                            </a>
                          </li>
                          <li class="m-nav__item" (click)="onDelete(item._id)">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-cogwheel"></i>
                              <span class="m-nav__link-text m--font-danger">
                                Xóa
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>